<header role="banner" class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      {{ page.nav_branding }}
      <div class="main-navigation">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {{ page.nav_main }}
        </div>
      </div>
        {{ page.nav_additional }}
    </div>
  </nav>
</header>