body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

.region {
  padding: 0;
}


#block-stayrelive-views-block-property-block-1 .view-filters {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 5px 18px 5px 18px;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // gap: 1.5rem;
  max-width: 83%;
  overflow-x: auto;

  @media(max-width:1399px) {
    max-width: 82%;
  }

  @media(max-width:1199px) {
    max-width: 82%;
  }

  @media (max-width: 1093px) {
    max-width: 91%;
  }


  .form--inline.clearfix {
    display: flex;
    align-items: center;
    width: 100%;

    @media(max-width:991px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .form-item-field-town-city-target-id {
      background-image: url(../images/first-location.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: left;
      margin-left: 15px;
    }

    .form-item-field-available-from-value {
      background-image: url(../images/calendar.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: left;
      margin-left: 21px;
    }

    .form-item-field-total-living-rooms-value {
      background-image: url(../images/travellers.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: left;
      margin-left: 22px;

      @media(max-width:991px) {
        margin-left: 21px;
      }
    }

    .form-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 160px;
      position: relative;
      padding-left: 30px;
      border-right: 1px solid #e0e0e0;

      @media (max-width: 991px) {
        border-right: none;
        width: 100%;

        &::after {
          content: "";
          position: absolute;
          bottom: -6px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #e0e0e0;
        }
      }

      &:nth-child(3) {
        border-right: none;
      }

      label {
        font-weight: 600;
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
        color: #333;
      }

      select,
      input[type="text"] {
        border: none;
        padding: 0;
        font-size: 0.95rem;
        color: #666;
        background: transparent;
        box-shadow: none;
        width: 100%;

        @media (max-width: 1024px) {
          font-size: 13px;
        }
      }

      select:focus,
      input[type="text"]:focus {
        outline: none;
        box-shadow: none;
      }
    }

    #edit-actions {
      flex: 0 0 auto;

      input[type="submit"] {
        background-repeat: no-repeat;
        background-color: rgba(11, 140, 159, 1);
        color: #fff;
        border: none;
        border-radius: 0.75rem;
        padding: 0.75rem 1.5rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: background 0.3s ease;
        position: relative;
        background-image: url(/themes/custom/stayrelive/images/search.png);
        background-position: 20px;
        background-size: inherit;
        width: 125px;
        padding-left: 35px;
        margin-left: 26px;


        &:hover {
          background-color: #005f66;
        }
      }
    }
  }
}


// The all-in-one workspace
.container {
  @media (max-width: 1280px) {
    max-width: 1280px !important;
  }
}

.highlight-text {
  font-style: italic;
  color: rgba(207, 175, 110, 1);
  font-size: 24px;

  @media (max-width: 768px) {
    font-size: 20px;
  }

  @media (max-width: 480px) {
    font-size: 18px;
  }
}

.main-heading {
  font-weight: bold;
  color: #333a4d;
  font-size: 35px;

  @media (max-width: 768px) {
    font-size: 28px;
  }

  @media (max-width: 480px) {
    font-size: 24px;
  }
}

.content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;

  @media (max-width: 992px) {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }

  .text-section {
    max-width: 40%;

    @media (max-width: 992px) {
      max-width: 100%;
      padding: 10px;
    }

    @media (max-width: 540px) {
      text-align: left !important;
    }

    h4.busniness-heading {
      background: linear-gradient(90deg, #0095b2, #66e5ff, #0095b2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
    }

    .travler-text li {
      line-height: 4rem;
      font-size: 24px;
      list-style-type: none;
      color: rgba(51, 58, 77, 1);

      @media (max-width: 768px) {
        line-height: 2.5rem;
        font-size: 20px;
      }

      @media (max-width: 480px) {
        font-size: 18px;
      }
    }
  }

  .image-section {
    position: relative;
    max-width: 700px;
    margin: auto;

    @media(max-width:430px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    img.main-image {
      width: 500px;
      border-radius: 10px;
      height: 100%;

      @media (max-width: 1024px) {
        width: 410px !important;
      }

      @media (max-width: 992px) {
        max-width: 100%;
        width: 90% !important;
      }

      @media (max-width: 681px) {
        max-width: 100%;
        width: 80% !important;
      }

      @media (max-width: 540px) {
        width: 75% !important;
      }

      @media (max-width: 430px) {
        width: 100% !important;
      }
    }

    .overlay-image {
      position: absolute;
      width: 130px;
      border-radius: 10px;
      padding: 5px;

      @media (max-width: 992px) {
        width: 38% !important;
      }

      @media (max-width: 768px) {
        width: 38% !important;
      }

      @media (max-width: 681px) {
        width: 34% !important;
      }

      @media (max-width: 540px) {
        width: 32% !important;
      }

      @media (max-width: 480px) {
        width: 34% !important;
      }

      @media (max-width: 430px) {

        width: 40% !important;
      }
    }

    .overlay1 {
      top: 10%;
      left: -18%;
      width: 40%;
      height: auto;

      @media (max-width: 1024px) {
        top: 10%;
        left: -15%;
        width: 37%;
      }

      @media (max-width: 681px) {
        left: -6% !important;
      }

      @media (max-width: 540px) {
        left: -1% !important;
      }

      @media (max-width: 430px) {
        position: unset;
        width: 100% !important;
      }
    }

    .overlay2 {
      bottom: 19%;
      right: -10%;
      width: 40%;
      height: auto;

      @media (max-width: 1024px) {
        bottom: 19%;
        right: -10%;
        width: 37%;
      }

      @media (max-width: 681px) {
        right: -1% !important;
      }

      @media (max-width: 540px) {
        right: 4% !important;
      }

      @media (max-width: 430px) {
        position: unset;
        width: 100% !important;
      }
    }
  }
}



// POPULAR BUSINESS DESTINATION
.business-section {
  background-color: $background-color;
  background-image: url(../images/Popular-Business-Destination-background-image.png); // Replace with your image path
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  min-height: 739px;
  display: flex;
  align-items: center;
  font-family: $font-family;
  padding: 60px 0;

  .back {
    background-color: white;
    padding: 65px;
    border-radius: 25px;

    @media(max-width:358px) {
      padding: 40px;
    }
  }

  .highlight-text {
    font-style: italic;
    color: $highlight-color;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .main-heading {
    font-weight: 700;
    font-size: 32px;
    color: $text-color;
    margin-bottom: 40px;
  }

  .hub-item {
    text-align: center;
    padding: 15px;
    transition: all 0.3s ease-in-out;

    img {
      width: 80px;
      height: auto;
      margin-bottom: 10px;
      object-fit: none;
    }

    p {
      font-size: 16px;
      margin: 0;
      color: $text-color;
    }

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &.text-version {
    background-color: transparent;
    color: $text-color;

    .city-list {
      list-style-type: none;
      padding-left: 0;
      text-align: left;

      li {
        margin-bottom: 8px;
        font-size: 1.1rem;
      }

      strong {
        font-weight: 600;
      }
    }
  }
}


// Why Choose Us Section
// Styles
.why-choose-us {
  background-color: $bg-color;
  @extend %full-width;
  @extend %flex-center;
  padding: 120px 0px;
  overflow: hidden;

  &-fix-width {
    max-width: 1280px;
    display: flex;

    @media screen and (max-width: map-get($breakpoints, xl)) {
      max-width: 100%;
      padding-left: 50px;
    }

    @media screen and (max-width: map-get($breakpoints, md)) {
      flex-direction: column;
      width: 100% !important;
      padding: 0px 30px;
    }

    @media screen and (max-width: map-get($breakpoints, xs)) {
      padding: 0px 20px;
    }
  }

  .first-container {
    width: 50%;

    @media screen and (max-width: map-get($breakpoints, md)) {
      width: 100%;
    }

    &-fix-width {
      width: 525px;
      @extend %flex-column;
      row-gap: 55px;
      padding-bottom: 55px;

      @media screen and (max-width: map-get($breakpoints, lg)) {
        width: 450px;
      }

      @media screen and (max-width: map-get($breakpoints, md)) {
        width: 100%;
        row-gap: 35px;
      }

      .title-content {
        @extend %flex-column;
        row-gap: 16px;

        .highlight-text {
          color: $highlight-color;
          font-size: 18px;
          font-weight: 700;
          line-height: 100%;
          letter-spacing: 0;
          margin: 0;
        }

        .main-heading {
          font-size: 42px;
          line-height: 100%;
          font-family: $font-primary;
          font-weight: 700;
          color: $heading-color;
          margin: 0;

          @media screen and (max-width: map-get($breakpoints, xs)) {
            font-size: 30px;
          }
        }

        .description {
          font-size: 18px;
          font-weight: 500;
          line-height: 30px;
          letter-spacing: 0.5%;
          color: $text-color;
          margin: 0;
        }
      }


      .icon-text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 45px;
        row-gap: 36px;

        @media screen and (max-width: map-get($breakpoints, md)) {
          grid-template-columns: 1fr 1fr 1fr;
        }

        @media screen and (max-width: map-get($breakpoints, sm)) {
          grid-template-columns: 1fr 1fr;
          column-gap: 20px;
        }

        @media screen and (max-width: map-get($breakpoints, xs)) {
          grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: 397px) {
          grid-template-columns: 1fr;
        }

        .feature-item {
          display: flex;
          align-items: center;
          gap: 16px;

          span {
            font-size: 14px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0.5%;
            color: $feature-text-color;
          }
        }
      }



      .submit-btn button {
        @extend %full-width;
        background-color: $button-bg;
        border: none;
        padding: 12px;
        border-radius: 8px;
        font-size: 16px;
        color: $button-text;
      }
    }
  }

  .second-container {
    width: 50%;
    position: relative;

    @media screen and (max-width: map-get($breakpoints, md)) {
      width: 100%;
    }

    .image-class {
      margin-left: 167px;
      border-radius: 68.4px;
      padding: 15px;
      border: 2.96px solid $border-color;
      width: fit-content;
      z-index: 3;
      position: relative;

      @media screen and (max-width: map-get($breakpoints, md)) {
        margin-left: 0px;
        width: auto;
      }

      @media screen and (max-width: map-get($breakpoints, sm)) {
        border-radius: 30px;
      }

      @media screen and (max-width: map-get($breakpoints, xxs)) {
        border-radius: 10px;
        padding: 10px;
      }

      img {
        width: 855px;
        height: 668px;
        border-radius: 68.4px;

        @media screen and (max-width: map-get($breakpoints, md)) {
          width: 100%;
        }

        @media screen and (max-width: map-get($breakpoints, sm)) {
          border-radius: 30px;
          height: auto;
        }
      }
    }

    .first-color {
      width: 451px;
      height: 196px;
      top: 0;
      @extend %absolute-position;

      @media screen and (max-width: map-get($breakpoints, md)) {
        top: -10%;
        left: -22%;
      }

      img {
        @extend %image-cover;
        z-index: 2;
      }
    }

    .inner-image {
      width: 277px;
      height: 180px;
      @extend %absolute-position;
      bottom: 0;
      background-color: #fff;
      padding: 14px;
      border-radius: 19px;
      box-shadow: 0px 0px 15px $shadow-color;
      z-index: 4;
      margin-left: 80px;

      @media screen and (max-width: map-get($breakpoints, md)) {
        margin-left: 0;
        bottom: -15%;
      }

      @media screen and (max-width: map-get($breakpoints, xs)) {
        width: 200px;
        height: 130px;
        padding: 10px;
      }

      @media screen and (max-width: map-get($breakpoints, xxs)) {
        width: 150px;
        height: 100px;
        padding: 8px;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 18px;
      }
    }

    .yellow-image {
      @extend %absolute-position;
      top: -20%;
      z-index: -1;
      width: 449px;
      right: 0;
      height: 228px;

      @media screen and (max-width: map-get($breakpoints, md)) {
        right: -15%;
        width: 20px !important;
      }
    }

    .blur-image {
      @extend %absolute-position;
      bottom: -2px;
      left: 0;
      height: 228px;

      @media screen and (max-width: map-get($breakpoints, md)) {
        bottom: 0;
        right: 0;
        left: auto;
      }

      @media screen and (max-width: map-get($breakpoints, xxs)) {
        border-radius: 0;
      }
    }
  }
}


// why trust us
.section-heading {
  text-align: center;
  margin-bottom: 30px;

  h2 {
    font-weight: 700;
    color: #1e1e1e;
  }

  p {
    color: #777;
  }
}

.feature-box {
  text-align: center;
  padding: 20px;

  .icon-box {
    text-align: left;

    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
    }
  }

  h5 {
    font-weight: 600;
    margin-top: 15px;
    text-align: left;
  }

  p {
    color: #666;
    text-align: left;
  }
}


.rating-slide {
  display: flex;
  flex-wrap: wrap;

  @media(max-width:385px) {
    flex-direction: column;
    justify-content: center !important;
    align-items: center ! IMPORTANT;
  }

  .trusted-companies {
    text-align: center;
    padding-top: 20px;
    width: 50%;

    .whok {
      img {
        width: 100% !important;
        height: auto !important;
        filter: grayscale(1);

        &:hover {
          filter: grayscale(0) !important;
          cursor: pointer;
        }
      }
    }

    .company-slider {
      display: flex;
      align-items: center;

      img {
        max-height: 60px;
        width: auto !important;
        margin: 0 25px;
        filter: grayscale(1);
        object-fit: contain;

        &:hover {
          filter: grayscale(0) !important;
          cursor: pointer;
        }
      }
    }
  }
}






// FEATURED PROPERTIES
#block-stayrelive-views-block-featured-properties-cards-block-1 {
  background-color: rgb(248, 248, 252);

  .feature-h-p {
    text-align: center;
    padding-top: 6rem;

    .section-title {
      font-weight: bold;
      font-size: 28px;
      color: #2c2c2c;
    }
  }

  .view-id-featured_properties_cards {
    padding-left: 5rem;
    padding-right: 5rem;

    @media (max-width: 1199px) {
      padding-left: 11rem;
      padding-right: 11rem;
    }

    @media (max-width: 991px) {
      padding-left: 0;
      padding-right: 0;
    }

    .view-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      align-items: center;
      column-gap: 25px;

      @media (max-width: 1199px) {
        grid-template-columns: repeat(3, 1fr) !important;
        padding-right: 8rem;
        padding-left: 8rem;
      }

      @media (max-width: 1024px) {
        padding-left: 6rem;
        padding-right: 6rem;
      }

      @media (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr) !important;
        padding-right: 12rem;
        padding-left: 12rem;
      }

      @media (max-width: 588px) {
        grid-template-columns: repeat(1, 1fr) !important;
        padding-right: 11rem;
        padding-left: 11rem;
      }

      @media (max-width: 351px) {
        padding-right: 6rem;
        padding-left: 6rem;
      }

      .property-card {
        border: none;
        overflow: hidden;
        transition: 0.3s;
        position: relative;
        width: 268px;
        height: 400px;

        @media (max-width: 1280px) {
          width: 268px;
        }

        .card {
          border: none;
          background-color: rgb(248, 248, 252);

          .favorite-icon {
            position: absolute;
            top: 15px;
            right: 15px;
            padding: 8px;
            background-image: url(../images/heart.png);
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
            width: 27px;
            height: 24px;
          }

          img {
            border-radius: 12px;
            width: 100%;
            height: 207px;
            object-fit: cover;
          }

          .card-body {
            padding: 16px 5px;

            h5.card-title {
              a {
                text-decoration: none;
                color: black;
                font-size: 16px;
                font-weight: 500;
              }
            }

            .rating-container {
              .star-icon {
                display: inline-block;
                width: 18px;
                height: 18px;
                background-image: url(../images/star_filled.png);
                background-size: cover;
                background-repeat: no-repeat;
                margin-top: -6px;
              }
            }

            .small-image-main {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-right: 49px;
              margin-left: -5px;

              @media (max-width: 1280px) {
                padding-right: 51px;
              }

              .dividers {
                width: 1px;
                height: 21px;
                background-color: #ddd;
                margin-top: 3px;
              }
            }

            .card-text {
              margin: 0;
              // font-size: 14px;
            }

            .price {
              line-height: 3.8rem;

              p {
                strong {
                  text-decoration: none;
                  color: black;
                  font-family: sans-serif;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
}


//How We Source Guest Houses & Apartment
#block-stayrelive-howwesourceguesthousesapartments .guest-housing {
  @media (max-width: 991px) {
    position: relative;
    height: 1000px;
  }

  @media (max-width: 768px) {
    position: relative;
    height: 1000px;
  }

  h2 {
    font-size: 2.4rem;
    margin: auto;
    line-height: 1.4;

    @media (max-width: 768px) {
      max-width: 80%;
      font-size: 2rem;
    }

    span {
      color: $primary;
    }
  }

  .circle-wrapper {
    width: 822px;
    height: 400px;
    transform: scale(1.2);

    @media (max-width: 1113px) and (min-width: 1025px) {
      width: 760px; // slightly smaller than original 822px
      transform: translateX(-50%) scale(1.1) !important;
      left: 50% !important;
      margin: 0 !important;
      position: relative;
    }

    @media (max-width: 1024px) {
      margin: 0 auto !important;
      left: 40.1%;
      transform: translateX(-48%) !important;
      position: relative;
    }

    @media (max-width: 991px) {
      transform: rotate(90deg) !important;
      position: absolute;
      left: 9%;
      top: 400px
    }

    @media (max-width: 912px) {
      left: 5%;
    }

    @media (max-width: 853px) {
      left: 2%;
    }

    @media (max-width: 820px) {
      left: 0%;
    }

    @media (max-width: 768px) {
      transform: rotate(90deg) !important;
      position: absolute;
      top: 400px;
      left: -12px;
    }

    @media (max-width: 668px) {
      left: -67px;
    }

    @media (max-width: 663px) {
      left: -102px;
    }

    @media (max-width: 540px) {
      left: -135px;
    }

    @media (max-width: 500px) {
      top: 430px;
      left: -150px;
    }

    @media (max-width: 500px) {
      left: -178px;
    }

    @media (max-width: 440px) {
      left: -189px;
    }

    @media (max-width: 430px) {
      left: -195px;
    }

    @media (max-width: 426px) {
      top: 411px;
      left: -243px;
      transform: rotate(90deg) scale(0.8) !important;
      margin-left: 46px !important;
    }

    @media (max-width: 414px) {
      left: -249px;
    }

    @media (max-width: 412px) {
      left: -249px;
    }

    @media (max-width: 390px) {
      left: -261px;
    }

    @media (max-width: 360px) {
      left: -278px;
    }

    @media (max-width: 344px) {
      left: -286px;
    }

    @media (max-width: 336px) {
      .guest-housing .circle-wrapper {
        left: -267px;
      }
    }

    @media (max-width: 335px) {
      left: -290px;
    }

    @media (max-width: 331px) {
      left: -292px;
    }

    @media (min-width: 321px) and (max-width: 330px) {
      left: -303px;
    }

    @media (max-width: 320px) {
      left: -303px;
    }

    .circle:nth-of-type(1),
    .circle:nth-of-type(3),
    .circle:nth-of-type(5),
    .circle:nth-of-type(7) {
      position: relative;
      width: 118px;

      &::before {
        content: "";
        height: 100px;
        width: 100px;
        display: block;
        position: absolute;
        top: -7px;
        left: -5px;
        background: linear-gradient(180deg,
            rgba(25, 36, 81, 1) 50%,
            transparent 50%);
        border-radius: 50%;

        @media (max-width: 1113px) and (min-width: 1025px) {
          height: 100px;
          width: 95px;
          display: block;
          position: absolute;
          top: -8px;
          left: -7px;
        }
      }

      @media (max-width: 1113px) and (min-width: 1025px) {
        width: 120px !important;
      }

      .icon {
        position: relative;
        height: 90px;
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 1px 3px 0px #0000004D;

        @media (max-width: 1113px) and (min-width: 1025px) {
          height: 80px !important;
          width: 80px !important;
        }

        img {
          height: 60px;
          width: 60px;

          @media (max-width: 1113px) and (min-width: 1025px) {
            height: 50px !important;
            width: 50px !important;
          }

          @media (max-width: 991px) {
            transform: rotate(-90deg);
          }

          @media (max-width: 768px) {
            transform: rotate(-90deg);
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: -16px;
          left: -16px;
          width: 120px;
          height: 120px;
          border: 3px solid rgba(207, 175, 110, 1);
          border-radius: 50%;
          border-left-color: transparent;
          border-bottom-color: transparent;
          transform: rotate(-45deg);

          @media(max-width:1024px) {
            top: -16px !important;
            left: -16px !important;
            width: 120px !important;
            height: 120px !important;
          }

          @media (max-width: 1113px) and (min-width: 1025px) {
            width: 115px !important;
            height: 115px !important;
            top: -18px !important;
            left: -17px !important;
          }
        }
      }

      p {
        font-size: 14px;
        position: absolute;
        top: 140px;
        left: -16px;
        width: 130px;
        text-align: center;

        @media (max-width: 1113px) and (min-width: 1025px) {
          font-size: 13px !important;
          width: 110px !important;
          top: 130px !important;
          left: -10px !important;
        }

        @media (max-width: 991px) {
          top: 160px;
          left: -6px;
          transform: rotate(-90deg);
        }

        @media (max-width: 768px) {
          top: 160px;
          left: -6px;
          transform: rotate(-90deg);
        }

        @media (max-width: 500px) {
          top: 150px;
          left: -5px;
          width: 118px;
          font-size: 12px;
        }

        @media (min-width: 321px) and (max-width: 330px) {
          font-size: 11px;
        }

        @media (max-width: 320px) {
          font-size: 11px;
        }

        &::after {
          content: "";
          display: block;
          position: relative;
          top: -88px;
          right: -60px;
          height: 40px;
          border-left: 2px dotted rgba(11, 140, 159, 1);

          @media (max-width: 1113px) and (min-width: 1025px) {
            top: -85px !important;
            right: -55px !important;
            height: 30px !important;
          }

          @media (max-width: 991px) {
            top: 28px;
            right: -90px;
            transform: rotate(90deg);
          }

          @media (max-width: 768px) {
            top: 30px;
            right: -90px;
            transform: rotate(90deg);
          }

          @media (max-width: 768px) {
            right: -77px;
          }
        }

        &::before {
          content: ".";
          font-size: 50px;
          position: absolute;
          left: 56px;
          top: -56px;

          @media (max-width: 1113px) and (min-width: 1025px) {
            font-size: 40px !important;
            left: 50px !important;
            top: -50px !important;
          }

          @media (max-width: 991px) {
            left: 126px;
            top: -26px;
          }

          @media (max-width: 768px) {
            left: 126px;
            top: -24px;
          }

          @media (max-width: 768px) {
            left: 112px;
          }
        }
      }
    }

    @media(max-width:1024px) {
      .circle:nth-of-type(1) {
        left: -1px !important;
      }
    }

    @media(max-width:991px) {
      .circle:nth-of-type(1) {
        left: 0px !important;
      }
    }

    .circle:nth-of-type(2),
    .circle:nth-of-type(4),
    .circle:nth-of-type(6) {
      position: relative;
      width: 118px;

      &::before {
        content: "";
        height: 100px;
        width: 100px;
        display: block;
        position: absolute;
        top: -4px;
        left: -5px;
        background: linear-gradient(0deg,
            rgba(11, 140, 159, 1) 50%,
            transparent 50%);
        border-radius: 50%;

        @media (max-width: 1113px) and (min-width: 1025px) {
          height: 100px;
          width: 95px;
          display: block;
          position: absolute;
          top: -11px;
          left: -7px;
        }
      }

      .icon {
        position: relative;
        height: 90px;
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 1px 3px 0px #0000004D;

        @media (max-width: 1113px) and (min-width: 1025px) {
          height: 80px !important;
          width: 80px !important;
        }

        img {
          height: 60px;
          width: 60px;

          @media (max-width: 1113px) and (min-width: 1025px) {
            height: 50px !important;
            width: 50px !important;
          }

          @media (max-width: 991px) {
            transform: rotate(-90deg);
          }

          @media (max-width: 768px) {
            transform: rotate(-90deg);
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: -17px;
          left: -16px;
          width: 121px;
          height: 121px;
          border: 3px solid rgba(207, 175, 110, 1);
          border-radius: 50%;
          border-left-color: transparent;
          border-bottom-color: transparent;
          transform: rotate(-225deg);

          @media (max-width: 1113px) and (min-width: 1025px) {
            width: 115px !important;
            height: 115px !important;
            top: -16px !important;
            left: -17px !important;
          }

          @media (max-width: 1024px) {
            top: -17px;
            left: -17px;
          }

          @media (max-width: 991px) {
            left: -16px;
          }
        }
      }

      p {
        font-size: 14px;
        position: absolute;
        top: -100px;
        left: -26px;
        width: 150px;
        text-align: center;

        @media (max-width: 1113px) and (min-width: 1025px) {
          font-size: 13px !important;
          width: 110px !important;
          top: 130px !important;
          left: -10px !important;
        }

        @media (max-width: 991px) {
          transform: rotate(-90deg);
          top: -156px;
          left: -6px;
        }

        @media (max-width: 768px) {
          top: -138px;
          left: -10px;
          transform: rotate(-90deg);
        }

        @media (max-width: 500px) {
          top: -140px;
          left: 10px;
          width: 118px;
          font-size: 12px;
        }

        @media (min-width: 321px) and (max-width: 330px) {
          font-size: 11px;
        }

        @media (max-width: 320px) {
          font-size: 11px;
        }

        &::after {
          content: '';
          display: block;
          position: relative;
          top: 16px;
          right: -70px;
          height: 40px;
          border-left: 2px dotted rgba(11, 140, 159, 1);

          @media (max-width: 1113px) and (min-width: 1025px) {
            top: -85px !important;
            right: -55px !important;
            height: 30px !important;
          }

          @media (max-width: 991px) {
            top: -120px;
            right: 93px;
            transform: rotate(-90deg);
          }

          @media (max-width: 768px) {
            top: 34px;
            right: 76px;
            transform: rotate(90deg);
          }

          @media (max-width: 500px) {
            top: 16px;
            right: 80px;
          }
        }

        &::before {
          content: ".";
          font-size: 50px;
          position: absolute;
          left: 66px;
          top: 3px;

          @media (max-width: 1113px) and (min-width: 1025px) {
            font-size: 40px !important;
            left: 50px !important;
            top: -50px !important;
          }

          @media (max-width: 991px) {
            left: 1px;
            top: -36px;
          }

          @media (max-width: 768px) {
            left: 30px;
            top: -16px;
            transform: rotate(90deg);
          }

          @media (max-width: 500px) {
            left: 6px;
            top: -23px;
          }
        }
      }
    }

    .circle:nth-of-type(6) {
      p {
        &::before {
          top: -6px;

          @media(max-width:991px) {
            top: -36px;
            left: 1px;
          }
        }
      }
    }
  }
}

//success stories
// Main Styles
#block-stayrelive-successstories {
  font-family: Arial, sans-serif;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  row-gap: 30px;
  padding: 80px 0px;

  .mainly-content {
    .success-content {
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      h5 {
        font-size: 18px;
        color: $gold-color;
        line-height: 100%;
        font-weight: 700;
        margin: 0;
      }

      h1 {
        font-size: 42px;
        font-weight: 800;
        color: $dark-color;
        line-height: 100%;
        margin: 0;

        @media (max-width: 600px) {
          font-size: 35px;
        }

        @media (max-width: 480px) {
          font-size: 33px;
        }
      }

      p {
        color: $text-color;
        font-weight: 400;
        font-size: 18px;
        margin: 0;
      }
    }

    .testimonial-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
      max-width: 1030px;
      padding: 20px;

      @media (max-width: 1030px) {
        max-width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }

      @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }

      @media (max-width: 480px) {
        grid-template-columns: 1fr;
      }

      .one,
      .two,
      .three {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        justify-content: center;

        @media (max-width: 768px) {
          flex-direction: row;
          column-gap: 25px;
        }

        @media (max-width: 600px) {
          flex-direction: column;
        }
      }

      .same-code {
        background: $white;
        border-radius: 16px;
        box-shadow: 0px 16px 32px -4px $shadow-color;
        padding: 32px 24px;
        position: relative;
        @media (max-width: 339px){
          padding: 24px 16px;
        }
        @media (max-width: 323px){
          padding: 22px 14px;
        }

        p {
          font-size: 14px;
          line-height: 100%;
          font-weight: 500;
          color: $dark-color;
          font-family: sans-serif;
          @media (max-width: 339px){
            font-size: 13px;
          }
        }

        .img-star {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .star {
            height: 12px;
          }
        }
      }
    }
  }
}


//own home
.own-home-section {
  width: 100%;
  height: 40rem;
  background: url('../images/Own-a-home.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  .home-overlay {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .home-content {
    max-width: 685px;

    h2 {
      font-size: 2rem;
      color: rgba(25, 36, 81, 1);
    }

    p {
      font-size: 20px;
      font-weight: 500;
      color: rgba(51, 58, 77, 1) !important;
    }

    .btn-primary {
      background-color: rgba(11, 140, 159, 1);
      border: none;
      border-radius: 0.5rem;
    }
  }
}



  // Footer
  .footer {
    background-color: rgba(51, 58, 77, 1) !important;
    color: white;
    padding-top: 4rem;
  
      .footer-contain {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 768px){
          padding: 0 1rem;
        }
        @media (max-width: 480px){
          padding: 0 1rem;
        }
  
        .footer-logo {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 311px;
          @media (max-width: 768px){
            width: auto;
            margin-bottom: 20px;
          }
  
          img {
            width: 150px;
            object-fit: cover;
            @media (max-width: 480px){
              width: 120px;
            }
          }
  
          p {
            margin-top: 10px;
            font-size: 15px;
            @media (max-width: 768px){
              font-size: 14px !important;
            }
            @media (max-width: 480px){
              font-size: 14px;
            }
          }
  
          .main-image-footer {
            display: flex;
            align-items: center;
  
            .footer-icons {
            margin-top: 10px;

              a {
                margin-right: 10px;
                color: white;
                font-size: 20px;
                @media (max-width: 768px){
                  font-size: 18px;
                  margin-right: 15px;
                }
                @media (max-width: 480px) {
                  font-size: 16px;
                }
  
                img {
                  width: 20px;
                  object-fit: cover;
                }
                @media (max-width: 480px){
                  width: 18px;
                }
              }
            }
  
            .give-any {
              width: 1px;
              height: 15px;
              background-color: #ccc;
              margin-top: 15px;
              margin-right: 10px;
            }
          }
        }
  
        .footer-links {
          display: flex;
          gap: 90px;
          flex-wrap: wrap;
          @media (max-width: 768px){
            flex-direction: row;
            gap: 30px;
            margin-top: 20px;
            @media (max-width: 480px){
              flex-direction: column !important;
              gap: 20px !important;
              margin-top: 20px !important;
            }
          }
  
          h3 {
            margin-bottom: 10px;
            font-size: 16px;
            @media (max-width: 768px){
              font-size: 14px !important;
            }
            @media (max-width: 480px){
              font-size: 12px;
            }
          }
  
          .footer-menu-main-div {
            .region-footer {
              line-height: 9px;
              margin-left: -8px;
  
              ul.navbar-nav {
                padding: 0;
                list-style: none;
  
                li.nav-item {
                  margin: 5px 0;
  
                  a.nav-link {
                    text-decoration: none;
                    color: white;
                    font-size: 15px;
                  }
                }
              }
            }
          }
  
          ul {
            list-style: none;
            padding: 0;
  
            li {
              margin: 5px 0;
  
              a {
                text-decoration: none;
                color: white;
                font-size: 15px;
              }
              @media (max-width: 768px){
                font-size: 14px !important;
              }
              @media (max-width: 480px){
                font-size: 14px;
              }
            }
          }
        }
      }
  
    .last-footer {
      border-top: 1px solid rgba(255, 255, 255, 0.12);
      padding-top: 20px;
      margin-top: 60px;
      text-align: center !important;
      @media (max-width: 768px){
        font-size: 12px;
        margin-top: 20px !important;
      }
      @media (max-width: 480px) {
        font-size: 10px;
      }
    }
  }
  
  

  .views-element-container {
    display: none;
}